.searchContainer {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}
.searchContainer input {
    padding: 12px 20px;
    height: 39.6px;
    margin-right: 10px;
    font-size: 15px;
    border-width: calc(var(--border-width) * 1px);
    border-style: solid;  
    border-radius: 15px;
    text-align: center;
    /* width: 100%; */
}

.searchButton {
    background: #f90202;
	height: 39.6px;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	padding: 5px;
	border: none;
	border-radius: 10px;
	font-family: 'Creepster', cursive;
	cursor: pointer;
    letter-spacing: 1.5px;
    color: white;
    -webkit-text-stroke: .5px black;
}